/* RESETEO */
* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* VARIABLES */
:root {
    --Fondo: #1f2937; 
    --Titulos: #ffffff;
    --textos: #00bf63;
    --links: #f9fafb;
}

/* Cuerpo de la pagina  */
body {
    background-color: var(--Fondo);
}


/* barra de navegacion */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Titulos);
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
}

/* logo */
header a img {
    width: 60px;
    height: 60px;
}

/* menu */
nav ul {
    display: flex;
    list-style: none;
}

/* enlaces */
nav ul li {
    margin-right: 30px;
}
/* enlaces */
nav ul li a {
    text-decoration: none;
    color: var(--Fondo);
}
/* Estilos de los enlaces */
nav ul li a:hover {
    color: var(--textos);
}


/* pue de pagina */
footer {
    color: var(--links);
    text-align: center;
    padding: 10px;
}

strong {
    color: var(--textos);
}