h1 {
    text-align: center;
    color: white;
    margin: 30px;
    font-size: 40px;
}

section {
    background-color: var(--textos);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 80%;
    border-radius: 1rem;
}
section h2 {
    color: var(--Fondo);
    margin: 20px;
}


section .seccion {
    display: flex;
    flex-direction: row;  /* Mantiene los elementos en fila */
    flex-wrap: wrap;      /* Permite que los elementos se envuelvan */
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin: 10px auto;
    gap: 10px;  /* Espacio entre los elementos */
}

.tools {
    flex: 0 1 calc(20% - 10px);  /* Divide en 5 columnas */
    margin: 5px;
    max-width: 200px;  /* Puedes ajustar el ancho máximo */
    box-sizing: border-box;  /* Incluye padding y border en el ancho total */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 60%;
}

.content h3 {
    text-align: center;
    color: white;
    font-size: 25px;
}

.content a {
    text-align: center;
    color:var(--textos);
    font-size: 20px;
}

.content a img {
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}